.input-error {
   border-color: #e3342f; /* Rojo */
   background-color: #fddddd; /* Fondo claro */
}

#notification {
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%) translateY(-20px);
    min-width: 250px;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    z-index: 9999;
    opacity: 0;
    transition: transform 0.4s ease, opacity 0.4s ease;
    display: flex;
    align-items: center;
 }

 #notification i {
    margin-right: 10px;
    font-size: 1.4rem;
 }

 #notification.success {
    background-color: #28a745;
 }

 #notification.error {
    background-color: #e53935;
 }

 #notification.visible {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
 }

 #notification.hidden {
    opacity: 0;
    visibility: hidden;
 }